<div class="container">
	<div class="col-md-8 col-lg-8">
		<div *ngIf="showData">
			<div class="list-group">
				<div *ngFor="let hc of hcList" class="list-group-item">
					<h4 class="list-group-item-heading">
						<a href="javascript:void(0);">{{hc.description}}</a>
					</h4>
					<div class="list-group-item-text">
						<div [ngSwitch]="hc?.type">
							<div *ngSwitchCase="healthcheckTypeEnum.PING">
								<div>
									<strong>Type:</strong>
									<span>Ping</span>
								</div>
								<div>
									<strong>Ping:</strong>
									<span>{{hc.ping | pingFormat}}</span>
								</div>
							</div>

							<div *ngSwitchCase="healthcheckTypeEnum.RANGE">
								<div>
									<strong>Type:</strong>
									<span>Range</span>
								</div>
								<div>
									<strong>Range:</strong>
									<span>{{hc.range}}</span>
								</div>
							</div>

							<div *ngSwitchCase="healthcheckTypeEnum.MANUAL">
								<div>
									<strong>Type:</strong>
									<span>Manual</span>
								</div>
								<div>
									<strong>Status:</strong>
									<span>{{hc.status}}</span>
								</div>
							</div>
						</div>

						<div>
							<strong>Status:</strong>
							<span [ngSwitch]="hc?.status">
								<span *ngSwitchCase="healthcheckStatusEnum.SUCCESS">
									<span class="label label-success">success</span>
								</span>

								<span *ngSwitchCase="healthcheckStatusEnum.WARNING">
									<span class="label label-warning">warning</span>
								</span>

								<span *ngSwitchCase="healthcheckStatusEnum.ERROR">
									<span class="label label-danger">error</span>
								</span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div *ngIf="showEmptyData">
			<div class="panel panel-default">
				<div class="panel-body">
					<div>No healthchecks found</div>
				</div>
			</div>
		</div>

		<div class="error-data" *ngIf="showError">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>Problem while loading healthcheck list</h3>
					<p id="error-data-message"></p>
					<button type="button" class="btn btn-primary" (click)="load()">Try again</button>
				</div>
			</div>
		</div>

		<div *ngIf="showLoading">
			<div class="panel panel-default">
				<div class="panel-body">Loading...</div>
			</div>
		</div>
	</div>

	<div class="col-md-4 col-lg-4">
		<div class="graph-data" *ngIf="showData">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>Healthcheck graph</h3>
					<br/>
					<canvas baseChart
							class="chart"
							[datasets]="chartDataDatasets"
							[labels]="chartDataLabels"
							[options]="chartDataOptions"
							[colors]="chartDataColors"
							[chartType]="'doughnut'">
					</canvas>
				</div>
			</div>
		</div>

		<div *ngIf="showEmptyData">
			<div class="panel panel-default">
				<div class="panel-body">
					<div>No healthchecks for graph</div>
				</div>
			</div>
		</div>

		<div *ngIf="showError">
			<div class="panel panel-default">
				<div class="panel-body">
					<div>Problem while loading healthcheck list</div>
				</div>
			</div>
		</div>

		<div *ngIf="showLoading">
			<div class="panel panel-default">
				<div class="panel-body">Loading...</div>
			</div>
		</div>
	</div>
</div>